:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  padding: 0 !important;
  margin: 0 !important;
  max-width: none !important;
}

.radix-theme {
  position: relative;
  --color-background: #0f1121 !important;
}

.dark {
  background-color: #0f1121;
}

.rt-ContainerInner {
  padding: 0 32px;
}

@media (max-width: 1023px) {
  .rt-ContainerInner {
    padding: 0 24px;
  }
}

@media (max-width: 767px) {
  .rt-ContainerInner {
    padding: 0 16px;
  }
}
